<footer class="footer">
  <div class="footer-top">
    <div class="footer-container footer-grid">
      <div>
       
        <p>Airport Sector<br><span> Central Industrial Security Force | Ministry of Home Affairs</span></p>
      </div>
      <nav aria-label="Footer navigation">
        <a routerLink="/privacy">Privacy Policy</a>
        <a routerLink="/terms">Terms &amp; Conditions</a>
        <a routerLink="/contact">Contact Help Desk</a>
      </nav>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-container">
       <span>© 2026 Central Industrial Security Force (CISF). All Rights Reserved.</span>
    <span>
        e-SamikSha - Quality Control Monitoring Tool | Developed and Maintained by ASCC, Airport Sector HQrs, CISF, Mahipalpur, New Delhi
    </span>
    </div>
  </div>
</footer>
