<div>
  <!-- Profile Image -->
  <div class="profile-pic">
    <img [src]="profileImage || 'images/default-avatar.png'" alt="Profile" /><br/>
    <input type="file" (change)="onFileSelected($event)" class="btn upload"/>
  </div>

  <!-- Form -->
  <div *ngIf="errorStatus" class="error-msg">{{ errorMsg }}</div> 
  <div *ngIf="successStatus" class="success-msg">{{ successMsg }}</div>
  <form>
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" [(ngModel)]="user.fullName" name="fullName" />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="user.email" name="email" disabled=emailStatus/>
      <span class="warning-msg">Please get in touch with admin to change email</span>
    </div>

    <div class="form-group">
      <label>Mobile</label>
      <input type="text" [(ngModel)]="user.mobile" name="mobile" maxlength="10" />
    </div>

    <div class="form-group">
      <label>Institute Name</label>
      <input type="text" [(ngModel)]="user.instituteName" name="instituteName" />
    </div>

    <div class="form-group">
      <label>Address</label>
      <textarea [(ngModel)]="user.address" name="address"></textarea>
    </div>

    <div class="form-group">
      <label>Rank</label>
      <select [(ngModel)]="user.rank" name="rank">
        <option value="">-- Select Rank --</option>
        <option *ngFor="let r of cisfRanks" [value]="r.code">{{ r.name }} ({{ r.code }})</option>
      </select>
    </div>

    <div class="form-group">
      <label>Scope Level</label>
      <select [(ngModel)]="user.userscopelevel" name="userscopelevel">
        <option value="">-- Select Scope Level --</option>
        <option *ngFor="let s of scopeLevels" [value]="s.id">{{ s.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Unit</label>
      <select [(ngModel)]="user.unitid" name="unitid">
        <option [ngValue]="null">-- Select Unit --</option>
        <option *ngFor="let u of units" [ngValue]="u.id">{{ u.unitName }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="user.userscopelevel === 'Zone'">
      <label>Zone</label>
      <select [(ngModel)]="user.zone" name="zone">
        <option value="">-- Select Zone --</option>
        <option *ngFor="let z of zones" [value]="z">{{ z }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="user.userscopelevel === 'Sector'">
      <label>Sector</label>
      <select [(ngModel)]="user.sector" name="sector">
        <option value="">-- Select Sector --</option>
        <option *ngFor="let s of sectors" [value]="s">{{ s }}</option>
      </select>
    </div>

    <!-- Buttons -->
    <div class="btn-group">
      <button type="button" class="btn cancel">Cancel</button>
      <button type="submit" class="btn save" (click)="updateProfile()">Update</button>
    </div>
  </form>
</div>
