  .background {
    background-image: url('/images/attendo_web_background.jpg'); /* Path to your image */
    background-repeat: repeat; /* Repeat the background image */
    background-size: auto; /* Use original size of the image */
  }

  .container {
    flex-direction: column;
    min-height: 95vh; /* Full viewport height */
    padding-top: 7rem !important;
  }

  .alert {
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
  }
 .bg-gradient-primary-to-secondary {
  background: #1e30f3;
  background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.text-gradient {
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.d-inline {
  display: inline !important;
}