<div class="audit-page">

  <!-- Top Navigation -->
  <div class="top-nav">
    <a href="/dashboard" class="back-btn">
    <i class="fa-solid fa-arrow-left"></i> Back to Dashboard
  </a>
  </div>
  <!-- Page Title -->
  <h2 class="page-title"><i class="fa fa-user-check me-2"></i>BCAS Audit Tracking Management</h2>
  <p class="page-subtitle">Airport audit tracking from BCAS audit details to CASO compliance closure Aviatio</p>

  <!-- Status Cards -->
  <div class="status-grid">


    <div class="status-card yellow">
      <h4>In Progress</h4>
      <div class="value-section">
        <span class="value">{{ totalInProgress }}</span>
        <i class="fa-regular fa-calendar"></i>
      </div>
    </div>

    <div class="status-card green">
      <h4>Completed</h4>
      <div class="value-section">
        <span class="value">{{ totalCompleted }}</span>
        <i class="fa-regular fa-calendar-check"></i>
      </div>
    </div>

    <div class="status-card red">
      <h4>Action Required</h4>
      <div class="value-section">
        <span class="value">{{ totalActionRequired }}</span>
        <i class="fa-regular fa-calendar-xmark"></i>
      </div>
    </div>
       <div class="status-card red">
      <h4>Compliance %</h4>
      <div class="value-section">
        <span class="value">{{ compliancePercentage }}</span>
        <i class="fa-regular fa-calendar-xmark"></i>
      </div>
    </div>
  </div>
  
  <br/>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5>All Audits</h5>
    <button class="btn btn-primary" (click)="createModal(createAuditTemplate)">
      <i class="bi bi-plus-lg"></i> Schedule Audit
    </button>
  </div>
    <ng-template #createAuditTemplate let-modal>
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-user-check me-2"></i> Schedule New Audit</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">  
        <p>Add a new audit to the schedule</p>
          
        <div *ngIf="errorStatus" class="error-msg">{{ errorMsg }}</div> 
        <div *ngIf="successStatus" class="success-msg">{{ successMsg }}</div>

        
        <br/>
        <div class="info-message">
            <ul>
                <li>Create audit schedules for different units and departments.</li>
                <li>Use audit date to plan and track audit timelines.</li>
                <li>Audit information will be displayed to auditors during execution.</li>
                <li>Use audit type to categorize audits as Planned, In Progress, Completed, or Action Required.</li>
            </ul>
        </div>
      </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-header border-0 pb-0">
    <h5 class="modal-title fw-bold text-danger">
      <i class="fa fa-trash-alt me-2"></i> Delete Confirmation
    </h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p class="text-muted mb-3">
      You are about to delete this item. Please confirm before proceeding.
    </p>
    <div class="border rounded p-2 bg-light text-danger small">
      <i class="fa fa-exclamation-circle me-1"></i>
      This operation is irreversible.
    </div>
  </div>
  <div class="modal-footer border-0">
    <button class="btn btn-light border" (click)="modal.dismiss()">
      Cancel
    </button>
    <button class="btn btn-danger shadow-sm" (click)="deleteTemplate(templateId, 'deleteModal')"> Delete Permanently </button>
  </div>
</ng-template>
  
  
  
  
  
  
  </div>